<div class="button_container" (click)="isActive = !isActive" [class.active]="isActive">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" [class.open]="isActive">
  <div class="overlay-inner">
    <div class="overlay-header">
      <div class="logo">
        <!--<a [routerLink]="['Index']"><img [src]="logo"/></a>-->
      </div>

    </div>
    <nav class="overlay-menu">
      <ul>
        <!--<li class="menu-item">-->
        <!--<div class="searchbox">-->
        <!--<div class="search-ico">-->
        <!--<i class="fa fa-search fa-2x"></i>-->
        <!--</div>-->
        <!--<div class="search-input">-->
        <!--<input (keyup.enter)="search($event.target.value)" type="text"/>-->
        <!--</div>-->
        <!--</div>-->
        <!--</li>-->
        <li class="menu-item">
          <a (click)="navigate('Index')">Home</a>
        </li>
        <li class="menu-item">
          <a (click)="navigate('Blog')"> Blog</a>
        </li>
        <li class="menu-item">
          <a (click)="navigate('Resume')"> Resume</a>
        </li>
        <li class="menu-item">
          <a (click)="navigate('About')"> About</a>
        </li>
      </ul>

    </nav>

    <div class="social">
      <a class="fa fa-twitter" aria-hidden="true" href="https://twitter.com/MurhafSousli"></a>
      <a class="fa fa-github-alt" aria-hidden="true" href="https://github.com/MurhafSousli"></a>
      <a class="fa fa-envelope" aria-hidden="true" href="mailto:murhafsousli@gmail.com"></a>
      <a class="fa fa-stack-overflow" aria-hidden="true" href="https://stackoverflow.com/users/1015648/murhaf-sousli"></a>
    </div>
  </div>
</div>
