<div class="header-inner">
  <div class="logo">
    <a [routerLink]="['Index']"><img [src]="logo"/></a>
  </div>
  <div class="menu">
    <div class="menu-item" router-active>
      <a [routerLink]=" ['Home'] ">
        Home
      </a>
    </div>
    <div class="menu-item" router-active>
      <a [routerLink]=" ['Resume'] ">
        Resume
      </a>
    </div>
    <div class="menu-item" router-active>
      <a [routerLink]=" ['About'] ">
        About
      </a>
    </div>
  </div>
</div>
<div class="social">
  <a class="fa fa-facebook" aria-hidden="true"></a>
  <a class="fa fa-twitter" aria-hidden="true"></a>
  <a class="fa fa-github-alt" aria-hidden="true"></a>
  <a class="fa fa-envelope" aria-hidden="true"></a>
</div>
<footer>© 2016 MURHAF SOUSLI ALL RIGHTS RESERVED</footer>
