<div class="experience">
  <div class="experience-item" *ngFor="let experience of data">
    <div class="experience-company-name">
      {{experience.company}}
    </div>
    <div class="experience-company-address">
      <i>{{experience.address}}</i>
    </div>
    <div class="experience-job-title">
      {{experience.jobTitle}}
    </div>
    <div class="experience-date">
      {{experience.date}}
    </div>
    <div class="experience-content">
      <ul>
        <li *ngFor="let contentItem of experience.content">
          {{contentItem}}
        </li>
      </ul>
    </div>
  </div>
</div>
