.blog{

  .search-box{
    background-color: $seafloor;
    height: 0;
    transition: height ease .5s;

    &.active{
      height: 140px;
    }

    .search{
      padding: 40px;
      input{
        margin: 0;
        text-align: center;
        height: 60px;
        font-size: 2em;
        background-color: transparent;
        color: $base-background-color;
        border:0;
        outline: 0;
        box-shadow: none;
        &:hover, &:focus{
          box-shadow: none;
        }
      }
    }
  }

  .cats-box{

    background-color: $seafloor;
    color: white;
    height: 0;
    transition: height ease .5s;
    overflow-y: auto;

    h2{
      text-align: center;
      margin-top: 70px;
      text-decoration: underline;
    }
    .cats{
      margin: 40px 20px;
      text-align: center;
      a{
        margin: 10px;
        color: white;
        text-transform: uppercase;
        width: 100%;
        padding: 10px 20px;
        &:hover{
          background-color: tint($seafloor, 20%);
        }
      }
    }
  }

  .filter-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .filter-btn{
      position: absolute;
      top: -30px;
      width: 100%;
      z-index: 99;
      text-align: center;
      button{
        margin: 0 15px;
        width: 60px;
        height: 60px;
        font-size: 20px;
      }
    }

  }

  .post-body{
    margin-top: 80px;
  }
}
