$card-width: 400px;
$small-card-dimension: 250px;
$card-boxshadow: $base-font-color 0px 0px 2px;
$card-boxshadow-hover: $base-font-color 0px 0px 4px;

.card {
  max-width: $card-width;
  border: $base-border;
  //box-shadow: $card-boxshadow;
  //border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  overflow: hidden;
  margin: 15px auto;
  position: relative;
  background-color: $overlay-color;

  &-meta{
    background-color: $base-font-color;
    padding: 5px;
    font-size: 14px;
    color: $base-background-color;
    text-align: right;
  }

  &-image {

  }

  &-title{
    padding: $base-spacing/2;
  }
  &-excerpt{
    padding: $base-spacing/1.5;
    font-size: $small-font-size;
  }
  &-footer {
    padding: $base-spacing/1.5;
    font-size: $small-font-size;
    padding-top: 0;
  }

  &:hover{
    //box-shadow: $card-boxshadow-hover;
  }

  h4{
    margin-bottom: 0;
    color: $base-font-color;
  }

}


.small-card{
  height: $small-card-dimension;
  width: $small-card-dimension;
  display: flex;
  flex-direction: column;
  background-color: $ripple;

  &-image{
    flex: 1 1 auto;
    background-size: cover;
  }
  &-title, &-footer{
    padding: $base-spacing/1.5;
    flex: 0 0 auto;
  }
  &-footer{
    padding-top: 0;
  }

  h4{
    margin: 0;
  }

  //button{
  //  background-color: $ripple;
  //}

  &:hover{
    //box-shadow: $card-boxshadow-hover;
  }
}
