$card-width: 400px;
$small-card-dimension: 250px;
$card-boxshadow: $base-font-color 0px 0px 2px;
$card-boxshadow-hover: $base-font-color 0px 0px 4px;

.card {
  max-width: $card-width;
  box-shadow: $card-boxshadow;
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  overflow: hidden;
  margin: 15px auto;
  position: relative;

  &-meta{
    background-color: $base-font-color;
    padding: 5px;
    font-size: 14px;
    color: $base-background-color;
    text-align: right;
  }

  &-image {

  }

  &-title{
    padding: ($base-spacing / 3) ($base-spacing / 2);
    margin-top:10px;
  }
  &-excerpt{
    padding: ($base-spacing / 3) ($base-spacing / 2);
    font-size: $small-font-size;
  }
  &-footer {
    padding: ($base-spacing / 3) ($base-spacing / 2);
    font-size: $small-font-size;
  }

  &:hover{
    box-shadow: $card-boxshadow-hover;
  }

}


.small-card{
  height: $small-card-dimension;
  width: $small-card-dimension;
  display: flex;
  flex-direction: column;

  &-image{
    flex: 1 1 auto;
    background-size: cover;
   // background-color: $secondary-background-color;
  }
  &-title, &-footer{
    padding: ($base-spacing / 3) ($base-spacing / 2);
    flex: 0 0 auto;
  }

  h4{
    margin: 0;
  }

  &:hover{
    box-shadow: $card-boxshadow-hover;
  }
}
