$card-width: 400px;
$small-card-dimension: 250px;

.card {
  max-width: $card-width;
  border: $base-border;
  border-radius: $base-border-radius;
  overflow: hidden;
  margin: 15px auto;
  position: relative;
  background-color: $overlay-color;
  transition: box-shadow ease 0.3s;

  &-meta {
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(white, 0.8);
    font-size: 16px;
    padding: 5px;
  }
  &-cat span {
    color: $crush;
    margin-right: 5px;
  }
  &-date {
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
  }
  &-image {

  }

  &-title {
    padding: $base-spacing/2;
  }
  &-excerpt {
    padding: $base-spacing/1.5;
    font-size: $small-font-size;
  }
  &-footer {
    padding: $base-spacing/1.5;
    font-size: $small-font-size;
    padding-top: 0;
  }

  h4 {
    margin-bottom: 0;
    color: $base-font-color;
  }
}

.small-card {
  height: $small-card-dimension;
  width: $small-card-dimension;
  display: flex;
  flex-direction: column;
  background-color: white;

  &-image {
    flex: 1 1 auto;
    background-size: cover;
  }
  &-title, &-footer {
    padding: $base-spacing/1.5;
    flex: 0 0 auto;
  }
  &-footer {
    padding-top: 0;
  }

  h4 {
    margin: 0;
  }
}
