
.home {
  @extend .animated, .fadeIn;
  height: 100vh;
  font-family: $heading-font-family;
  padding: 0 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .my-cover {
    @extend .animated, .pulse;
    flex: 1 1 100%;
    display: flex;
    position: relative;
    margin-bottom: 40px;
    max-width: 280px;

    &:after {
      content: 'Hi';
      position: absolute;
      top: 60%;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 10em;
      z-index: 100;
      font-weight: bold;
      text-shadow: 9px -9px 0 $ripple;
      font-family: $base-font-family;
    }

    .my-pic {
      border: 3px solid;
      margin: auto;
      border-radius: 50%;
      background-color: $crush;
      overflow: hidden;
      img {
        background-position: center;
        width: 100%;
      }
    }
  }

  .my-name {
    margin: 10px;
    font-size: 2em;
  }
  .my-job {
    margin: 10px;
    font-size: 2em;
    .rotate-title {
      width: 200px;
      display: inline-block;
    }
  }
  .social {
    a {
      color: $base-font-color;
      font-size: 2em;
    }
  }
}
