$home-font-size: 1.7em;
$home-bg: white;

.home {
  @extend .animated, .fadeIn;
  height: 100vh;
  font-family: $heading-font-family;
  padding: 0 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $home-bg;

  .my-cover {
    @extend .animated, .pulse;
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    max-width: 280px;

    &:after {
      content: 'Hi';
      position: absolute;
      top: 65%;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 9em;
      z-index: 100;
      font-weight: bold;
      text-shadow: 9px -9px 0 $home-bg;
      font-family: $base-font-family;
    }

    .my-pic {
      width: 280px;
      height: 280px;
      border-radius: 50%;
      background-color: $crush;
      background-size: cover;
      overflow: hidden;
    }
  }

  .my-name {
    margin: 10px;
    font-size: $home-font-size;
  }
  .my-job {
    margin: 10px;
    font-size: $home-font-size;
    .rotate-title {
      width: 200px;
      display: inline-block;
    }
  }
  .social {
    a {
      color: $base-font-color;
      font-size: $home-font-size;
    }
  }

  .menu {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;

    margin: -100px -300px;

    flex-flow: wrap;
    display: none;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 20px;
      flex: 1;
      a{
        color: $seafloor;
        font-size: 1.5em;
        transition: opacity ease 0.35s;
        &:hover{
          opacity: .5;
        }
      }
    }

    @media screen and (min-width: $medium-screen) {
      display: flex;
      &-item {
        flex-basis: 50%;
      }
    }
  }
}
