$twitter: #00acee;
$facebook: #3b5998;
$googleplus: #e93f2e;
$stumbleupon: #f74425;
$linkedin: #0e76a8;
$pinterest: #C92228;
$reddit: #FF4006;
$tumbler: #36465D;

.share-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  button {
    @extend .btn;
    flex: 1 0 40px;
    background-color: white;
    font-size: 20px;

  }

  .facebook {
    @include btnColor($facebook);
  }

  .twitter {
    @include btnColor($twitter);
  }

  .googleplus {
    @include btnColor($googleplus);
  }

  .stumbleupon {
    @include btnColor($stumbleupon);
  }

  .linkedin {
    @include btnColor($linkedin);
  }

  .pinterest {
    @include btnColor($pinterest);
  }

  .reddit {
    @include btnColor($reddit);
  }

  .tumblr {
    @include btnColor($tumbler);
  }
  //@include media($device-pc){
  //  position: fixed;
  //  left: 0;
  //  top: 0;
  //  bottom: 0;
  //  //right: 0;
  //  padding: 4%;
  //  flex-direction: column;
  //  max-height: 350px;
  //  margin: auto 0;
  //  button {
  //    border-radius: 50%;
  //    flex: 0 0 50px;
  //    width: 50px;
  //  }
  //
  //}
}

