.post{
  &-header{
    position: relative;
    &.fillheight{
      align-items: flex-end;
      height: 100vh;
      transition: height 0.7s;
    }
    height: 300px;
    transition: height .7s;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &-image{
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
  }
  &-body{
    padding: 20px 15px;
  }
  &-meta{
    display: flex;
    justify-content: space-around;
  }
  &-overlay{
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 2;
    color: white;
    background-color: rgba(black, .5);
  }
  &-title{
    text-align: center;
    text-shadow: 0 0 20px black;
    font-size: 3em;
    width: 100%;
    h1{
      margin-bottom: 20px;
    }
  }
  &-content{
    padding: 20px;
    font-size: 1.3em;
    position: relative;
    overflow: hidden;
    img{
      //max-width: 90%;
    }
  }
  &-categories{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    a{
      font-size: 1.3em;
      font-family: $heading-font-family;
    }
  }
  &-share{

  }
  &-date{
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
  }

  &-comments{
    padding: 20px;
  }
}
