.post{
  @extend .animated, .fadeIn;
  &-header{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 300px;

    &.fillheight{
      align-items: flex-end;
      height: 100vh;
      transition: height .7s;
      .post-title{
        margin-top: 0;
      }
    }
  }

  &-image{
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
  }
  &-body{
    padding: 20px 15px;
  }
  &-meta{
    display: flex;
    justify-content: space-around;
  }
  &-overlay{
    @extend .animated, .slideInDown;
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 2;
    color: white;
    background-color: rgba(black, .5);
  }
  &-title{
    @include media(min-width 320px max-width 480px){
      padding: 10px 10px;
    }
    margin-top: 20px;
    text-align: center;
    text-shadow: 0 0 20px black;
    padding: 10px 40px;
    width: 100%;
  }
  &-content{
    margin-top: 15px;
    padding: 20px;
    font-size: 1.3em;
    position: relative;
    overflow: hidden;
    img{
      //max-width: 90%;
    }
  }
  &-categories{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    a{
      font-size: 1.3em;
      font-family: $heading-font-family;
    }
  }
  &-share{

  }
  &-date{
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
  }

  &-comments{
    padding: 20px;
  }
}
