.post {
  @extend .animated, .bounceInUp;
  background-color: white;
  /*
   *  Post Header
   */
  &-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 300px;

    &.fillheight {
      justify-content: flex-end;
      height: 100vh;
      transition: height ease .7s;
      .post-title {
        margin-top: 0;
      }
    }
  }

  &-image {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
  }

  &-overlay {
    @extend .animated, .slideInDown;
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 2;
    color: $overlay-color;
    background-color: $overlay-bg-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &-title {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    text-shadow: $base-text-shadow;
    padding: 0 40px;
    width: 100%;
    @include media(min-width 320px max-width 480px) {
      padding: 0;
    }
  }

  &-meta {
    display: flex;
    justify-content: space-around;
  }

  &-categories {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    a {
      font-size: 1.3em;
      font-family: $heading-font-family;
    }
  }

  &-date {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
  }

  /*
   * Post Body
   */

  &-body {
    @extend .container;
  }

  &-content {
    @extend .animated, .fadeIn;
    margin-top: 40px;
    padding: 20px;
    font-size: 1.3em;
    line-height: 1.3em;
    position: relative;
    overflow: hidden;
    img {

    }
  }

  &-share {
    padding: 15px;
  }

  /*
   * Post Body
   */
  &-footer {

  }
  &-related {
    @include zigzag($crush-light, "10px");
    background-color: $crush-light;
    margin-top: 20px;
    padding-top: 10px;
  }
  &-comments {
    margin-top: -30px;
    @include zigzag($cyprus, "10px");
    background-color: $cyprus;
    h4{
      color: $crush;
    }
    .comments{
      @extend .container;
      padding: 30px 15px 15px;
    }
  }
}




