<div *ngWith="let home be appData | async"  class="home">
  <div class="my-cover">
    <div #cover class="my-pic" [style.backgroundImage]="'url(' + home.profilePic + ')'">
    </div>
  </div>
  <p class="my-name">
    My name's {{home.name}}
  </p>
  <div *ngIf="home.titles" class="my-job rotate-1 cd-intro  loading-bar">
    <span>I'm a </span>
    <strong class="words-wrapper" [typingCarousel]="home.titles">
    </strong>
  </div>

  <div class="social">
    <a *ngFor="let social of home.social" [class]="social.class" target="_blank" [href]="social.link"
       aria-hidden="true"></a>
  </div>
</div>
