<div *ngIf="data" class="home">
  <div class="my-cover">
    <div class="my-pic" [style.backgroundImage]="'url(' + data.profilePic + ')'">
    </div>

    <div class="menu">
    <span class="menu-item">
        <a [routerLink]="['/blog']">Blog</a>
    </span>
      <span class="menu-item">
        <a [routerLink]="['/resume']">Resume</a>
    </span>
      <span class="menu-item">
      <a [routerLink]="['/about']">About</a>
    </span>
      <span class="menu-item">
        <a [routerLink]="['/projects']">Projects</a>
    </span>
    </div>
  </div>

  <p class="my-name">
    My name's {{data.name}}
  </p>
  <div class="my-job">
    <span>I'm a </span>
    <strong class="words-wrapper" [typingCarousel]="data.titles">
    </strong>

  </div>

  <div class="social">
    <a *ngFor="let social of data.socialLinks" [class]="social.class" [href]="social.link" aria-hidden="true"></a>
  </div>

</div>

