/*
 *  import bourbon mixins
 */
@import '~bourbon/app/assets/stylesheets/bourbon';
/*
 *  import Neat
 */
@import '~bourbon-neat/app/assets/stylesheets/neat';


@import 'vendors/base';
/*
 *  Import bitters base style .
 */
@import 'core/base';
/*
 *  Import style for modules.
 */
@import 'modules/base';



$dark-blue: #0e2231;
$light-blue: powderblue;
$dark-yellow: #FF9600;
$light-yellow: #FFD200;
$light-red: #F66867;


.resume-title {
  h1 {
    color: $dark-blue;
    text-align: right;
    font-size: 3em;
    font-weight: bold;
    margin: 20px;
  }
}

.section-title {
  font-weight: bolder;
}

.introduction {
  background-color: $dark-blue;
  padding: 20px 20px 60px;
  color: whitesmoke;
  transform: skew(0deg, 5deg);
  .section-title {
    color: $light-blue;
  }
  .section-content {
    transform: skew(0deg, -5deg);
  }
}

.radar-wrapper {
  flex: 1 1 auto;
  padding: 60px 20px 30px;
  background-color: white;
}

.skills-wrapper {
  padding: 20px 20px 140px;
  margin-bottom: -60px;
  //transform: skew(0deg, 5deg);
  background-color: $light-red;
  .section-title {
    color: $dark-blue;
  }
  .section-content {
    //transform: skew(0deg, -5deg);
  }
  skills {
    flex: 1 1 auto;
  }
}

.education-wrapper {
  transform: skew(0deg, -3deg);
  padding: 50px 0 60px 0;
  education {
    flex: 1 1 auto;
    transform: skew(0deg, 3deg);

  }
  background-color: $light-blue;
}

.languages-wrapper {
  padding: 150px 20px 200px;
  margin-top: -80px;
  background-color: #8E2043;
  color: gray;
  .section-title {
    text-align: center;
    border: 2px dotted;
    border-radius: 8px;
  }
  languages {
    width: 100%;
  }

}


projects {
  width: 100%;
}
#myChart{
  display:flex;
  width: 100%;
}


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.cssanimations .cd-timeline-img.is-hidden {
  visibility: hidden;
}
.cssanimations .cd-timeline-img.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.6s;
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.experience-wrapper{
  margin-top: 50px;
}
.experience{
  &-item{
    margin: 15px 0;
    padding: 15px;
  }
  &-company-name{
    font-weight: bold;
  }
  &-job-title{
    font-weight: bold;
    color: #8f3f71;
  }
  &-date{
    text-align: right;
  }
  &-content{
    margin-top: 20px;
  }
}

