/*
 *  import bourbon mixins
 */
@import '~bourbon/app/assets/stylesheets/bourbon';
/*
 *  import Neat
 */
@import '~bourbon-neat/app/assets/stylesheets/neat';


@import 'vendors/base';
/*
 *  Import bitters base style .
 */
@import 'core/base';
/*
 *  Import style for modules.
 */
@import 'modules/base';



$dark-blue: #0e2231;
$light-blue: powderblue;
$dark-yellow: #FF9600;
$light-yellow: #FFD200;
$light-red: #F66867;


.resume-title {
  h1 {
    color: $dark-blue;
    text-align: right;
    font-size: 3em;
    font-weight: bold;
    margin: 20px;
  }
}

.section-title {
  font-weight: bolder;
}

.introduction {
  background-color: $dark-blue;
  padding: 20px 20px 60px;
  color: whitesmoke;
  transform: skew(0deg, 5deg);
  .section-title {
    color: $light-blue;
  }
  .section-content {
    transform: skew(0deg, -5deg);
  }
}

.radar-wrapper {
  flex: 1 1 auto;
  padding: 60px 20px 30px;
  background-color: white;
}

.skills-wrapper {
  padding: 20px 20px 140px;
  margin-bottom: -60px;
  //transform: skew(0deg, 5deg);
  background-color: $light-red;
  .section-title {
    color: $dark-blue;
  }
  .section-content {
    //transform: skew(0deg, -5deg);
  }
  skills {
    flex: 1 1 auto;
  }
}

.education-wrapper {
  transform: skew(0deg, -3deg);
  padding: 50px 0 60px 0;
  education {
    flex: 1 1 auto;
    transform: skew(0deg, 3deg);

  }
  background-color: $light-blue;
}

.languages-wrapper {
  padding: 150px 20px 200px;
  margin-top: -80px;
  background-color: #8E2043;
  color: gray;
  .section-title {
    text-align: center;
    border: 2px dotted;
    border-radius: 8px;
  }
  languages {
    width: 100%;
  }

}

projects {
  width: 100%;
}
#myChart{
  display:flex;
  width: 100%;
}
