<div class="author">
  <h4 class="author-title">Author</h4>
  <div class="author-body">
    <div class="author-image">
      <img [src]="avatar"/>
    </div>
    <div class="author-content">
      <p class="author-name">
        <a [href]="author.url">{{author.name}}</a>
      <a href="https://twitter.com/MurhafSousli" class="twitter-follow-button" data-show-count="false">Follow
        @MurhafSousli</a>
      </p>
      <p class="author-description">{{author.description}} </p>

    </div>
  </div>
</div>
