<div class="author">
  <h4 class="author-title">Author</h4>
  <div class="author-body">
    <div class="author-avatar">
      <div class="author-image">
        <img [src]="avatar"/>
      </div>
    </div>
    <div class="author-content">
      <p class="author-name">
        <a [routerLink]="['/']">{{author.name}}</a>

      </p>
      <p class="author-description">{{author.description}}

      <!--<a href="https://twitter.com/MurhafSousli" class="twitter-follow-button" data-show-count="false">Follow-->
        <!--@MurhafSousli</a>-->
      </p>
    </div>
  </div>
</div>
