<div class="button_container" (click)="isActive = !isActive" [class.active]="isActive">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" [class.open]="isActive">
  <div class="overlay-inner">
    <div class="overlay-header">
      <button class="logo" (click)="navigate('./')">
        <img [src]="data?.logo"/>
      </button>
    </div>
    <div class="overlay-body">
      <nav>
        <ul class="menu">
          <li *ngFor="let page of data?.pages" class="menu-item">
            <button (click)="navigate(page.path)">{{page.title}}</button>
          </li>
        </ul>
      </nav>
    </div>
    <div class="overlay-footer">

      <div class="social">
        <a *ngFor="let social of data?.socialLinks" [class]="social.class" [href]="social.link" target="_blank" aria-hidden="true"></a>
      </div>
    </div>
  </div>
</div>
