<div class="card wide-card">
  <div class="wide-card-header">
    <div class="wide-card-image">

    </div>
  </div>

  <div class="wide-card-body">

    <div class="wide-card-title">
      <h4></h4>
    </div>
    <div class="wide-card-description">

      <div class="wide-card-meta">
        <div class="wide-card-date">

        </div>
      </div>

      <div class="wide-card-excerpt">
        <p style="max-width: 85%"></p>
        <p style="max-width: 90%"></p>
        <p style="max-width: 60%"></p>
      </div>

    </div>
  </div>

</div>
