@import "../../../sass/core/variables";

.wide-card {
  &-title {
    height: 20px;
    max-width: 65%;
    background-color: rgba($base-font-color, .5);
    margin-bottom: 15px;
  }
  &-image {
    background-color: rgba($base-font-color, .5);
  }
  &-excerpt {
    margin-top: 25px;
    p {
      height: 10px;
      margin-bottom: 10px;
      background-color: rgba($base-font-color, .5);
    }
  }
  &-meta {
    width: 20%;
    height: 10px;
    background-color: rgba($sec-color, .5);
    margin-bottom: 10px;
  }
}
