<ng-container *ngIf="coordinates$ | async as coordinates">

  <agm-map [latitude]="coordinates?.latitude"
           [longitude]="coordinates?.longitude"
           [zoom]="zoom"
           [styles]="styles"
           [streetViewControl]="streetViewControl"
           [draggingCursor]="draggingCursor"
           [disableDefaultUI]="disableDefaultUI"
           [zoomControl]="zoomControl"
           [scaleControl]="scaleControl">

    <agm-marker [latitude]="coordinates?.latitude"
                [longitude]="coordinates?.longitude"
                [iconUrl]="iconUrl">
    </agm-marker>

  </agm-map>

</ng-container>

