<div class="post-card">
  <div class="post-header fillheight">
    <div class="post-image" *ngIf="post.featuredMedia()"
        [ngStyle]="{'background-image': 'url(' + post.featuredImageUrl('large') + ')'}">
      <!--[style.background]="'url(' + post.featuredImageUrl('large') +')'"-->
    </div>
    <div class="post-interface container">
      <div class="post-title">
        <h1>{{post.title()}}</h1>
      </div>
    </div>
  </div>
  <div class="post-body container">
    <div class="post-content" [innerHtml]="post.content()"></div>
  </div>
  <div class="post-share container"></div>
  <div class="post-tags container">
    <h4>Keywords:</h4>
    <span *ngFor="let tag of post.tags()">{{tag.name}}</span>
  </div>
  <div class="post-comments container"></div>
</div>
