$btn-color: $base-font-color;
$btn-hover-color: white;

$btn-bg-color: white;
$btn-bg-hover-color: $action-color;

.btn {
  outline: 0;
  display: inline-block;
  margin-right: 5px;
  background-color: white;
  font-family: $heading-font-family;

  border: $base-border;

  border-radius: $base-border-radius;
  padding: ($base-spacing / 3);
  color: $btn-color;
  &:hover {
    background: $btn-bg-hover-color;
    color: $btn-hover-color;
    @include transition(all $base-duration $base-timing);
  }
}

.btn-inverse {
  color: white;
  border: $base-border-hover;
  background-color: transparent;
  &:hover {
    color: $base-font-color;
    background-color: white;
  }
}

.btn-small{
  padding:  ($base-spacing / 3) ($base-spacing / 2) ;
  font-size: 1em;
}

.btn-circle{
  border-radius: 50%;
}

button{
  border: 0;
  background-color: transparent;
  &:focus{
    outline: 0;
  }
}
button, a:hover {
  cursor: pointer;
}

