<ng-scrollbar compact="true">
  <section-title>
    <h1>Admin</h1>
  </section-title>
  <div class="container">

    <div>
      <input type="text" placeholder="Display Name">
    </div>

    <div>
      <textarea type="text" placeholder="Bio"></textarea>
    </div>

    <div>
      <input type="text" placeholder="Email Address">
    </div>

    <div>
      <input type="text" placeholder="Map coordinates">
    </div>

    <div>
      <input type="file" placeholder="Personal Photo">
    </div>

    <div>
      <button (click)="save()">Save</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </div>
</ng-scrollbar>