form {
  .admin-form-control {
    display: flex;
    flex-direction: column;

    input, textarea {
      padding: 0.5em;
      margin-bottom: 1em;
    }

    label {
      font-weight: bold;
    }
  }

  .admin-form-button {
    margin-right: 1em;
    padding: .5em 1em;
    background-color: #0575E6;
    color: white;
    border-radius: 4px;
    border: none;
  }
}
