<!--<div class="mac-wrapper">-->
  <!--<div  class="mac">-->

    <!--<div class="mac-screen-wrapper">-->
      <!--<div class="mac-screen-border">-->
        <!--<div #mac class="mac-screen">-->
          <!--<div class="mac-browser">-->
            <!--<div class="mac-toolbar">-->
              <!--<span class="mac-close"></span>-->
              <!--<span class="mac-min"></span>-->
              <!--<span class="mac-max"></span>-->
              <!--<div class="mac-addressbar">-->
                <!--http://helloworld.com-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="mac-browser-content">-->
              <!--<div *ngIf="selectedIcon && switcher" class="animated fadeIn">-->
                <!--<img [src]="selectedIcon.image" [alt]="selectedIcon.name"/>-->
                <!--<p><b>{{selectedIcon.name}}</b></p>-->
              <!--</div>-->
              <!--<div *ngIf="!selectedIcon">-->
                <!--<h2>Interactive Modern Design</h2>-->
                <!--<p>(hover over the icons)</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="mac-dock">-->
            <!--<div class="dock">-->
              <!--<div *ngFor="let icon of icons" class="dock-item" (click)="iconClick(icon)">-->
                <!--<div class="icon-title">{{icon.title}}</div>-->
                <!--<img [src]="icon.image" [alt]="icon.title"/>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="mac-base-wrapper">-->
      <!--<div class="mac-base">-->
      <!--</div>-->
      <!--<div class="mac-base2">-->
      <!--</div>-->
      <!--<div class="mac-base3">-->
        <!--<div class="mac-touchpad">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
