<button class="cool-btn"
        (mouseover)="hover = true"
        (mouseout)="hover = false"
        (mousedown)="active = true"
        (mouseup)="active = false">

  <cool-button-content [content]="content"
                       [active]="hover || active"
                       [icon]="icon"
  ></cool-button-content>

  <span class="cool-btn-default-bg"></span>
  <span class="cool-btn-active-bg"></span>
</button>

<div class="cool-btn-shadow"></div>
<div class="cool-btn-shadow active"></div>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
