$button-width: 250px;
$button-height: 90px;
$gradient-blue-green: linear-gradient(to right, #1A20FF, #83FFD6);
$gradient-red-orange: linear-gradient(to right, #ee0979, #ff6a00);

span {
  display: block;
}


::ng-deep {
  cool-button[mini] {
    cool-button-content {
      font-size: 12px !important;
    }
  }
}

:host {
  display: block;
  position: relative;
  -webkit-appearance: initial;
  font-size: 16px;
  margin: 1em 2em 3em 0;

  &[center] {
    margin: 1em 2em 3em 2em;
  }

  &[mini] {
    font-size: 10px;
  }

  &.cool-btn-active {
    .cool-btn-active-bg {
      transform: translate3d(-100%, 0, 0);
    }

    .cool-btn-shadow {
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }

  &[primary] {
    .cool-btn-active-bg {
      background-image: $gradient-blue-green;
    }

    .cool-btn-shadow.active {
      background-image: $gradient-blue-green;
    }
  }

  &[danger] {
    .cool-btn-active-bg {
      background-image: $gradient-red-orange;
    }

    .cool-btn-shadow.active {
      background-image: $gradient-red-orange;
    }
  }

  .cool-btn, .cool-btn-shadow, .cool-btn-active-bg, .cool-btn-default-bg {
    width: 16em;
    height: 5.5em;
    border-radius: 2.75em;
  }

  .cool-btn-default-bg {
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .cool-btn-active-bg {
    position: absolute;
    left: 100%;
    top: 0;
    transition: transform ease 0.5s;
  }

  .cool-btn-shadow {
    position: absolute;
    top: 2.5em;
    left: 2em;
    z-index: -1;
    pointer-events: none;
    transition-duration: 1.5s;
    filter: grayscale(1) blur(15px);
    background-color: rgba(0, 0, 0, 0.5);

    &.active {
      opacity: 0;
      filter: blur(20px);
    }
  }
}

button.cool-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 999;
  cursor: pointer;
  display: block;
  position: relative;
  overflow: hidden;
  perspective: 1px;

  &:focus {
    outline: 0;
  }
}
