<div class="unique-btn">
  <div class="unique-btn-text-mask">
    <div class="unique-btn-text">
      <div class="unique-btn-icon-arrow active"></div>
      <p>
        <ng-content></ng-content>
      </p>
      <div class="unique-btn-icon-arrow"></div>
    </div>
  </div>
  <div class="unique-btn-bg-mask">
    <div class="unique-btn-bg"></div>
  </div>
  <div class="unique-btn-shadow"><img src="assets/img/btn/shadow.png"></div>
  <div class="unique-btn-shadow active"><img src="assets/img/btn/shadow_active.png"></div>
</div>
