<div class="card animated zoomIn">
  <div class="card-meta">
    <div class="card-date">
      {{post.date() | date}}
    </div>
  </div>

  <div class="card-image">
    <a [routerLink]="['/node/' + post.id()]">
      <img *ngIf="post.featuredMedia()" [src]="post.featuredImageUrl('large')"/>
    </a>
  </div>

  <div class="card-title">
    <h4>{{post.title()}}</h4>
  </div>

  <div class="card-copy">
    <div [innerHtml]="post.excerpt()"></div>
  </div>

  <div class="card-footer">
    <a class="btn btn-small" [routerLink]=" ['/node/' + post.id()]">
      <i class="fa fa-link fa-1x" aria-hidden="true"></i> Open
    </a>
  </div>

</div>
