<div class="card animated zoomIn">
  <div class="card-meta" [style.position]="post.featuredMedia() ? 'absolute' : 'relative'">
    <div class="card-cat">
      <span *ngFor="let cat of post.categories()">{{cat.name}}  •</span>
    </div>
    <div class="card-date">
      {{post.date() | date}}
    </div>
  </div>

  <div class="card-image">
    <a (click)="navigate(post)" [routerLink]="['/posts/' + post.id()]">
      <img *ngIf="post.featuredMedia()" [src]="post.featuredImageUrl('large')"/>
    </a>
  </div>

  <div class="card-title">
    <h4>{{post.title()}}</h4>
  </div>

  <div class="card-excerpt">
    <div [innerHtml]="post.excerpt()"></div>
  </div>

  <div class="card-footer">
    <button class="btn btn-small" (click)="navigate(post)">
      <i class="fa fa-link fa-1x" aria-hidden="true"></i> Open
    </button>
  </div>

</div>
