
.flex-column{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.header-inner {
  position: relative;
  @extend .flex-column;
}

.menu {
  @extend .flex-column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.menu-item {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: space-around;
  &.active {
    //background-color: gray;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
    opacity: .6;
    &.router-link-active{
      color: red;
    }
  }
}

.logo {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  a{
    height: 150px;
    width: 150px;
    img{
      height: 100%;
      width: 100%;
    }
  }
}

.social {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  a {
    margin:15px;
    font-size: 20px;
    opacity: .6;
    &hover{
      color:red;
    }
  }
}
