
<div class="post animated fadeIn">
  <div class="post-header" [class.fillheight]="featuredImageLoaded" >

    <div class="post-image" [ngStyle]="postImageStyle">
    </div>

    <div class="post-overlay">
      <div class="post-title">
        <h1>{{post.title()}}</h1>
      </div>
      <div class="post-categories">
        <a *ngFor="let cat of post.categories()" class="btn btn-inverse" [routerLink]="['/category/' + cat.id]">{{cat.name}}</a>
      </div>
      <div class="post-date">
        posted on {{post.date() | date}}
      </div>
    </div>

  </div>
  <div class="post-body container">
    <!--<div class="post-meta">-->
      <!--<div class="post-date">-->
        <!--{{post.date() | date}}-->
      <!--</div>-->
      <!--<div class="post-author">-->
        <!--{{post.author().name}}-->
      <!--</div>-->
      <!--<div class="post-categories">-->
        <!--<a *ngFor="let cat of post.categories()" class="btn" [routerLink]="['category', {id: cat.id}]">{{cat.name}}</a>-->
      <!--</div>-->
    <div class="post-share"><share></share></div>
    <div class="post-content" [innerHtml]="post.content()"></div>
    <div class="post-tags">
      <span class="badge-notice" *ngFor="let tag of post.tags()">{{tag.name}}</span>
    </div>
    <div class="post-share"><share [shareText]="'Share this article'"></share></div>
  </div>
  <div class="post-footer">
    <div class="post-related">

    </div>
    <div class="post-comments container">
      <disqus [shortname]="'murhafsousli'" [identifier]="post.id()"></disqus>
    </div>
  </div>


</div>
