<div class="post animated slideInUp">
  <div class="post-header" [class.fillheight]="featuredImage">

    <div scrollSpy [scrollSpyParallax]="parallaxOptions" class="post-image" [ngStyle]="featuredImage">
    </div>

    <div class="post-overlay">
      <div class="post-title">
        <h1>{{post.title()}}</h1>
      </div>
      <div class="post-categories">
        <a *ngFor="let cat of post.categories()" class="btn btn-inverse"
           [routerLink]="['/blog/' + cat.id]">{{cat.name}}</a>
      </div>
      <div class="post-date">
        posted on {{post.date()}}
      </div>
    </div>

  </div>
  <div class="post-body">
    <div #postContent class="post-content" ></div>
    <!--{{post.content() | lightboxPipe: postContent}}-->
    <div class="post-share">
      <share [shareTitle]="'Share'"></share>
    </div>
  </div>

  <div *ngIf="showFooter" class="post-footer">
    <div class="post-author">
        <author [authors]="post.author()"></author>
    </div>
    <div class="post-related">
      <related-posts [postId]="post.id()" [tags]="post.tags()"></related-posts>
    </div>
    <div class="post-comments">
      <div class="comments">
        <h4>Comments</h4>
        <disqus [shortname]="'murhafsousli'" [identifier]="post.id()"></disqus>
      </div>
    </div>
  </div>

</div>
