<ng-container *ngIf="loaded | async; else loading">

  <navigator></navigator>
  <main class="outlet-wrapper"
        [@sideAnimation]="getState(o)"
        (@sideAnimation.start)="progress.start()"
        (@sideAnimation.done)="onAnimationDone()">
    <router-outlet #o="outlet"></router-outlet>
  </main>
  <ng-progress [meteor]="false" [trickleSpeed]="200" [thick]="true" [spinner]="false"></ng-progress>
  <simple-notifications></simple-notifications>
</ng-container>

<ng-template #loading>
  Loading...
</ng-template>
