.btn {
  display: inline-block;
  margin: 0 5px 5px 0;
  background-color: $base-background-color;
  font-family: $heading-font-family;
  border: $base-border;
  border-radius: $base-border-radius;
  padding: ($base-spacing / 3);
  color: $base-font-color;
  &:hover {
    background: $base-font-color;
    color: $base-background-color;
    @include transition(all $base-duration $base-timing);
  }
}

.btn-inverse {
  color: $base-background-color;
  border: $base-border-hover;
  background-color: transparent;
  &:hover {
    color: $base-font-color;
    background-color: $base-background-color;
  }
}

.btn-small{
  padding:  ($base-spacing / 3) ($base-spacing / 2) ;
  font-size: .8em;
}

button:hover, a:hover {
  cursor: pointer;
  cursor: hand;
}
/*
 * to set color on buttons.
 */
@mixin btnColor($color){
  color: $color;
  border: 2px solid $color;
  &:hover {
    background: $color;
  }
}
