.btn {
  display: inline-block;
  margin: 5px;
  font-family: $heading-font-family;
  border: 2px solid $base-font-color;
  border-radius: $base-border-radius;
  padding: 10px;
  color: $base-font-color;
  //font-weight: bold;
  &:hover {
    background: $base-font-color;
    color: white;
    @include transition(all .5s ease);
  }
}

.btn-inverse {
  color: white;
  border: 2px solid white;
  &:hover {
    color: $base-font-color;
    background: white;
  }
}
.btn-small{
  padding: 7px 10px;
  font-size: 14px;
}
button:hover, a:hover {
  cursor: pointer;
  cursor: hand;
}
@mixin btnColor($color){
  color: $color;
  border: 2px solid $color;
  &:hover {
    background: $color;
  }
}
