html {
  box-sizing: border-box;
  background-color: $ripple;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 810px;
}

.overlay{
  bottom: 0;
  background-color: $base-background-color;
}

