html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 810px;
}

collection {
  display: block;
  width: 100%;
  //justify-content: center;
  //align-content: center;
  //align-items: center;
  //@include outer-container;
}


.fillheight {
  height: 100vh;
}

.flexpage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay{
  bottom: 0;
  background-color: white;

}
