<div class="post page blog">
  <div class="post-header">
    <div #headerOverlay class="post-overlay">
      <div class="post-title">
        <h1>BLOG</h1>
      </div>
    </div>
    <div class="filter-box">

      <div class="filter-btn">
        <button class="btn btn-circle" (click)="toggleSearch(!activeSearch)">
          <i class="fa fa-search"></i>
        </button>

        <button class="btn btn-circle" (click)="toggleCats(!activeCats)">
          <i class="fa fa-folder-open-o"></i>
        </button>
      </div>

      <div [class.active]="activeSearch" class="search-box">
        <div *ngIf="activeSearch" class="search">
          <input #searchInput autofocus="true"
                 (keyup)="0" (keyup.enter)="search($event.target.value)" type="search"/>
          <div (click)="searchInput.focus()"
              [class.lightSpeedIn]="!searchInput.value"
              [class.lightSpeedOut]="searchInput.value"
              class="placeholder">
            <p>Search...</p>
          </div>
        </div>
      </div>

      <div #category class="cats-box">
        <categories *ngIf="activeCats"></categories>
      </div>

    </div>
  </div>
  <div class="post-body">
    <div class="post-content">
      <collection [args]="args" [endpoint]="endpoint" (response)="postsData($event)">
        <div class="list">
          <card class="item" *ngFor="let post of posts" [data]="post"></card>
        </div>
      </collection>
      <h3 *ngIf="empty" style="text-align: center" class="animated fadeIn">{{empty}}</h3>
    </div>
  </div>
</div>
