<div class="wide-card animated zoomIn">
  <div class="wide-card-header">
    <div class="wide-card-title">
      <h4>{{post.title()}}</h4>
    </div>
  </div>

  <div class="wide-card-body">
    <div class="wide-card-image">
      <a (click)="navigate(post)" [ngStyle]="postImageStyle">
      </a>
    </div>

    <div class="wide-card-description">
      <div class="wide-card-meta">
        <div class="wide-card-cat">
          <a *ngFor="let cat of post.categories()" [routerLink]="['/blog/'+ cat.id]"> <i class="fa fa-chevron-right" aria-hidden="true"></i> {{cat.name}}  </a>
        </div>
        <div class="wide-card-date">
          {{post.date()}}
        </div>
      </div>

      <div class="wide-card-excerpt">
        <div [innerHtml]="post.excerpt()"></div>
      </div>

      <div class="wide-card-link">
        <button class="btn btn-small" (click)="navigate(post)">
          <i class="fa fa-link fa-1x" aria-hidden="true"></i> Open
        </button>
      </div>
    </div>
  </div>

</div>
