

.author {
  @extend .container;
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  &-title {
  }
  &-body {
    display: flex;
    margin: 15px 0;
  }
  &-avatar{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  &-image {
    display: flex;
    width: 96px;
    height: 96px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  &-content {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &-name {
    font-weight: bold;
    display: flex;
    align-items: center;
    a{

      font-size: 1.4em;
    }
  }
  &-description {
    font-size: 1em;
      //border-top: 1px solid $seafloor;
    padding-top: 10px;
  }
}
