.blog {

  background-color: $ripple;
  .search-box {
    background-color: $seafloor;
    height: 0;
    transition: height ease .5s;

    &.active {
      height: 140px;
    }

    .search {
      padding: 40px;
      position: relative;
      input {
        margin: 0 auto;
        text-align: center;
        font-size: 2em;
        background-color: transparent;
        color: $base-background-color;
        border: 0;
        outline: 0;
        box-shadow: none;
        z-index: 50;
        &:hover, &:focus {
          box-shadow: none;
        }
      }
      .placeholder{
        @extend .animated;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: 5;
        p{
          color: rgba($base-background-color, 0.5);
          font-size: 2em;
          margin: 0;
        }
      }
    }
  }

  .cats-box {
    border-bottom: $base-border;
    background-color: $seafloor;
    color: white;
    height: 0;
    transition: height ease .5s;
    overflow-y: auto;

    .cats-title {
      text-align: center;
      margin-top: 70px;
      font-size: 2em;
      opacity: .5;
    }
    .menu {
      text-align: center;
      button {
        font-size: 1.2em;
        margin: 10px;
        color: white;
        text-transform: uppercase;

        &:after {
          height: 2px;
          background: white;
        }
      }
    }
  }

  .filter-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .filter-btn {
      @extend .animated, .slideInDown;
      position: absolute;
      top: -30px;
      width: 100%;
      z-index: 99;
      text-align: center;
      button {
        margin: 0 15px;
        width: 60px;
        height: 60px;
        font-size: 20px;
      }
    }

  }

  .post-body {
    margin-top: 80px;
  }
}
