$card-width: 400px;
$small-card-dimension: 250px;

.wide-card{
  @extend .container;
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;

  overflow: hidden;
  border-radius: $base-border-radius;
  &-header{
    padding: 10px;
    h4{
      margin-bottom: 5px;
    }
  }
  &-body{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    @media screen and (min-width: $medium-screen) {
      flex-direction: row;
    }
  }
  &-image{
    @extend .animated, .slideInLeft;
    background-color: $seafloor;
    flex: 0 0 250px;
    a{
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
    }
  }
  &-description{
    flex: 1 1 auto;
    padding: 15px;
    p{
      margin-bottom: 0;
    }
  }
  &-excerpt{

  }
  &-link{
    text-align: right;
    button{
      padding: 0.43333em;
      margin-right:0;
    }
  }

  &-meta {
    position: relative;
    font-size: 16px;
  }
  &-cat {
    a{
      margin-right: 10px;
    }
  }
  &-date {
    color: $seafloor;
    position: absolute;
    top: 0;
    right: 0;
  }
}


.card {
  max-width: $card-width;
  border: $base-border;
  border-radius: $base-border-radius;
  overflow: hidden;
  margin: 15px auto;
  position: relative;
  background-color: $overlay-color;
  transition: box-shadow ease 0.3s;

  &-meta {
    position: relative;
    font-size: 16px;
    padding: 0 15px;
  }
  &-cat span {
    color: $crush;
    margin-right: 5px;
  }
  &-date {
    color: $seafloor;
    padding: 0 15px;
    position: absolute;
    top: 0;
    right: 0;
  }
  &-image {

  }

  &-title {
    padding: $base-spacing/2;
  }
  &-excerpt {
    padding: $base-spacing/1.5;
    font-size: $small-font-size;
  }
  &-footer {
    padding: $base-spacing/1.5;
    font-size: $small-font-size;
    padding-top: 0;
  }

  h4 {
    margin-bottom: 0;
    color: $base-font-color;
  }
}

.small-card {
  height: $small-card-dimension;
  width: $small-card-dimension;
  display: flex;
  flex-direction: column;
  &-image {
    flex: 1 1 auto;
    background-size: cover;
  }
  &-title, &-footer {
    padding: $base-spacing/1.5;
    flex: 0 0 auto;
  }
  &-footer {
    padding-top: 0;
  }

  h4 {
    margin: 0;
  }
}
