.copyright{
  margin-left: -148px;
  position: fixed;
  transform: rotate(90deg);
  top: 50%;
  left: 0;
  z-index: 1000;
  opacity: .2;
  text-transform: uppercase;
}
.top-button{
  @extend .animated, .slideInRight;
  opacity: 0.3;
  position: fixed;
  right: 2em;
  bottom: 1.5em;
  transition: opacity ease .35s;
  &:hover{
    opacity: 1;
  }
  a{
    color: $seafloor;
    text-align: center;
    p{
      font-weight: bold;
      margin:  0;
    }
  }
}
