$menu-bg: white;
$menu-body-bg: white;
$menu-color-main: $ripple;
$menu-color-active: $action-color;
$menu-color-link: $seafloor;

$menu-btn-color: $cyprus;

$menu-button-height: 27px;
$menu-button-width: 35px;

$menu-container-width: 400px;

.button_container {
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  height: $menu-button-height;
  width: $menu-button-width;
  cursor: pointer;
  z-index: 1000;
  transition: opacity .25s ease;

  @media screen and (max-width: $medium-screen) {
    top: 1em;
    left: 1em;
  }

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $menu-color-link;
    }
    .middle {
      opacity: 0;
      background: $menu-color-link;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $menu-color-link;
    }
  }

  span {
    background: $menu-color-active;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  z-index: 999;
  position: fixed;
  background-color: $menu-bg;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;

    .social {
      @extend .animated, .jello;
      a {
       // color: $menu-btn-color;
        &:hover {
          color: rgba($menu-btn-color, 0.8);
        }
      }
    }
  }

  &-inner {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &-header {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto 15px;
    width: 100%;
    .logo {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: 0;
      margin: 15px 25px;

      @media screen and (max-width: $medium-screen) {
        margin: .5em;
      }

      img {
        overflow: hidden;
        width: 250px;
        height: 60px;
      }
    }
  }

  &-body {
    background-color: $menu-body-bg;
    flex: 1 1 auto;
    display: flex;

    nav {
      flex: 1 1 auto;
      max-width: $menu-container-width;
      margin: 0 auto;
      position: relative;
      font-size: 1.6em;
      font-weight: bold;
      text-align: center;
      display: flex;
    }

  }
  &-footer {
    background-color: $menu-body-bg;
    display: flex;
    justify-content: center;
  }
}

.social {
  max-width: $menu-container-width;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  a {
    margin: 15px;
    font-size: 30px;
    opacity: 1;
    transition: opacity 0.35s;
    &:hover {
      opacity: .7;
    }
  }
}

.menu {
  font-family: $heading-font-family;
  flex: 1 1 auto;
  list-style: none;
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  li {
    position: relative;

    button {
      display: inline-block;
      background-color: transparent;
      border: 0;
      position: relative;
      color: $menu-btn-color;
      text-decoration: none;
      overflow: hidden;
      padding: 6px;

      &:hover:after,
      &:focus:after,
      &:active:after {
        width: 100%;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        transform: translateX(-50%);
        height: 3px;
        background: $menu-btn-color;
        transition: .35s;
      }
    }
  }
}
