$home-font-size: 1.7em;
$home-bg: white;

.home {
  @extend .animated, .fadeIn;
  height: 100vh;
  font-family: $heading-font-family;
  padding: 0 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $home-bg;

  .my-cover {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    max-width: 280px;

    &:after {
      content: 'Hi';
      position: absolute;
      top: 65%;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 9em;
      z-index: 100;
      font-weight: bold;
      text-shadow: 9px -9px 0 $home-bg;
      font-family: $heading-font-family;
    }

    .my-pic {
      @extend .animated, .pulse;
      width: 280px;
      height: 280px;
      border-radius: 50%;
      background-color: $seafloor;
      background-size: cover;
      overflow: hidden;
    }
  }

  .my-name {
    margin: 10px;
    font-size: $home-font-size;
  }
  .my-job {
    margin: 10px;
    width: 270px;
    font-size: $home-font-size;
    .rotate-title {
      width: 200px;
      display: inline-block;
    }
  }
  .social {
    a {
      font-size: $home-font-size;
    }
  }

  .menu {
    position: absolute;
    right: calc(50% - 250px);
    bottom: 0;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    span:nth-of-type(1) {
      margin-left: -10px;
    }
    span:nth-of-type(4) {
      margin-left: -10px;
    }
    &-item {
      display: flex;
      flex: 0 1 auto;
      box-sizing: border-box;
      margin: 10px;
      a {
        color: $base-font-color;
        font-size: 1.5em;
        transition: all ease 0.35s;
        &:hover {
          color: $crush;
        }
      }
    }

    @media screen and (min-width: $medium-screen) {
      display: flex;
    }
  }
}






//.menu {
//  position: absolute;
//  left:0;
//  right:0;
//  bottom:0;
//  top:0;
//  margin: -100px -300px;
//  flex-flow: wrap;
//  display: none;
//  &-item {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    box-sizing: border-box;
//    padding: 20px;
//    flex: 1;
//    a{
//      color: $seafloor;
//      font-size: 1.5em;
//      transition: opacity ease 0.35s;
//      &:hover{
//        opacity: .5;
//      }
//    }
//  }
//
//  @media screen and (min-width: $medium-screen) {
//    display: flex;
//    &-item {
//      flex-basis: 50%;
//    }
//  }
