.page{
  background-color: white;
  min-height: 100vh;
  &.blog{
    background-color: $base-background-color;
  }
  .post-header{
    height: auto;
    h1{
      text-shadow: none;
    }
  }
  .post-overlay{
    background-color: $page-title-background;
  }
  .post-content{
  }
}
