.related {
  padding: 30px 0;
  &-title {
    padding: 0 15px;
  }
  carousel {
    display: block;
    height: 340px;
  }

  /*
    overriding flickity style
   */
  .flickity-viewport {
    padding: 0 50px;
  }
  .flickity-page-dots {
    bottom: 0;
    padding: 20px;
    .dot {
      background-color: $base-font-color;
    }
  }
  .carousel-cell {
    height: 100%; /* height of carousel */
    padding: 10px;
  }
}
