$resume-bg-color: white;
$section-title-color: $cyprus;

section{
  padding: 20px;
}

.resume {
  @extend .animated, .fadeIn;
  background-color: $resume-bg-color;

  &-title {

    @extend .container;
    h1 {
      color: $section-title-color;
      text-align: right;
      font-size: 3em;
      font-weight: bold;
      padding: 20px;
      margin: 0;
    }
  }
}



.section-title {
  color: $section-title-color;
  @extend .container;
}

.section-content {
  @extend .container;
  margin-top: 80px;
  margin-bottom: 80px;
}

.introduction {
  background-color: $section-title-color;
  padding: 20px 20px 60px;
  color: white;
  transform: skew(0deg, 5deg);
  height: 10vh;
  transition: all 0.5s ease;
  &.extendheight{
    height: 50vh;
  }
  .section-title {
    color: $seafloor;
  }
  .section-content {
    font-size: 1.2em;
    padding: 0 20px;
    transform: skew(0deg, -5deg);
    >div{
      @extend .animated, .slideInDown;
    }
  }
}

.workflow-wrapper {
  flex: 1 1 auto;
  justify-content: center;
  background-color: $seafloor;
  @include zigzag($seafloor, "10px");

}

.skills-wrapper {
  position: relative;
  overflow: hidden;
  .section-misc{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width:20%;
    i:nth-of-type(1){
      position: absolute;
      font-size: 20em;
      animation-duration: 13s;
      opacity: 0.2;
      bottom: -100px;
      right: -100px;
      color:$seafloor;
    }
    i:nth-of-type(2){
      position: absolute;
      font-size: 10em;
      animation-duration: 7s;
      opacity: 0.1;
      color:$crush;
      bottom: 160px;
      right: -20px;
    }
    i:nth-of-type(3){
      position: absolute;
      top: 50px;
      right: -10px;
      animation-duration: 5s;
      font-size: 8em;
      opacity: 0.1;
    }
  }
}

.education-wrapper {
  position: relative;
  background-color: $crush;
  @include zigzag($crush, "10px");

  .education-icon {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: rgba(black, .1);
    text-shadow: inner 0 0 7px rgba($seafloor, .7);
  }

  .education {
    margin-top: 150px;
    display: flex;
    position: relative;
    justify-content: space-between;

    @media screen and (max-width: $medium-screen) {
      flex-direction: column;
    }

    &-item {
      box-shadow: $base-box-shadow;
      position: relative;
      flex: 1 1 auto;
      padding: 40px 10px;
      text-align: center;
      margin: 15px;
      background-color: white;
      border-radius: 4px;
      &:before{
        content: '\f0a3';
        position: absolute;
        font-size: 2.5em;
        height:50px;
        width: 50px;
        top: -20px;
        left: 5px;
        color: $light-yellow;
        text-shadow: $base-text-shadow;
        font-family: FontAwesome;
      }
      .signature{
        position: absolute;
        bottom: 10px;
        right: 25px;
        width: 70px;
        //height: 30px;
      }
      //&:after{
      //  content: '\f02a';
      //  position: absolute;
      //  transform: scale(2,1);
      //  font-size: 1.5em;
      //  height: 30px;
      //  width: 30px;
      //  bottom: 10px;
      //  right: 25px;
      //  font-family: FontAwesome;
      //}
    }
    &-date {
      //color: $light-yellow;
      //color: $cyprus;
    }
    &-content {
      margin: 15px 0;
      h3{
       color: $seafloor //color: $light-yellow;
      }
      i{
        color: $cyprus;
      }
    }
  }

}

.experience-wrapper {
  @include zigzag($ripple, "10px");
  .experience {
    color: $cyprus;
    &-item {
      margin: 30px 0 15px;
      padding: 15px;
    }
    &-company-name {
      font-weight: bold;
    }
    &-job-title {
      font-weight: bold;
      color: $crush;
    }
    &-date {
      text-align: right;
    }
    &-content {
      margin-top: 20px;
    }
  }
}

.projects-wrapper{
  @include zigzag($cyprus, '10px');
  background-color: $cyprus;
  color: white;
  .section-title{
    color: white;
  }
  .section-content{
    padding: 50px 0;
    margin-bottom: 100px;
  }
}

.badges-wrapper{
  background-color: white;
  margin-top: -60px;
  margin-bottom: -50px;
  padding-top: 25px;
  padding-bottom: -100px;
  transform: skew(0deg, -5deg);
  .section-title{
  }
  .section-content{
    text-align: center;
    transform: skew(0deg, 5deg);
  }
}






//.languages-wrapper {
//  padding: 150px 20px 200px;
//  margin-top: -80px;
//  background-color: #8E2043;
//  color: gray;
//  .section-title {
//    text-align: center;
//    border: 2px dotted;
//    border-radius: 8px;
//  }
//  languages {
//    width: 100%;
//  }
//
//}


//&::before {
//  content: '';
//  position: absolute;
//  top: 0;
//  left: calc(50% - #{$education-column-width/2});
//  height: 100%;
//  width: $education-column-width;
//  background: #5C546A;
//}
