$twitter: #00acee;
$facebook: #3b5998;
$googleplus: #e93f2e;
$stumbleupon: #f74425;
$linkedin: #0e76a8;
$pinterest: #C92228;
$reddit: #FF4006;
$tumbler: #36465D;
$github: #800080;
$stackoverflow: #F48023;

.share-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 0 20px;
  button {
    @extend .btn;
    flex: 1 0 40px;
    margin: 5px;
    font-size: 1.2em;
  }

  .facebook {
    @include btnColor($facebook);
  }

  .twitter {
    @include btnColor($twitter);
  }

  .googleplus {
    @include btnColor($googleplus);
  }

  .stumbleupon {
    @include btnColor($stumbleupon);
  }

  .linkedin {
    @include btnColor($linkedin);
  }

  .pinterest {
    @include btnColor($pinterest);
  }

  .reddit {
    @include btnColor($reddit);
  }

  .tumblr {
    @include btnColor($tumbler);
  }

  .github {
    @include btnColor($github);
  }

  .stackoverflow {
    @include btnColor($stackoverflow);
  }
}

.twitter {
  color: $twitter;
  &:hover {
    color: rgba($twitter, 0.8);
  }
}

.linkedin {
  color: $linkedin;
  &:hover {
    color: rgba($linkedin, 0.8);
  }
}

.pinterest {
  color: $pinterest;
  &:hover {
    color: rgba($pinterest, 0.8);
  }
}

.github {
  color: $github;
  &:hover {
    color: rgba($github, 0.8);
  }
}

.stackoverflow {
  color: $stackoverflow;
  &:hover {
    color: rgba($stackoverflow, 0.8);
  }
}

