.searchbox{
  display: flex;
  color: rgba(255, 255, 255, 0.8);
}
.search-ico{
  //flex: 0 0 auto;
}
.search-input{
 // flex: 1 1 auto;
  input {
    color: rgba(255, 255, 255, 0.8);
    max-width: 500px;
    text-align: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 4rem;
  }
}
