<div class="resume">
  <div class="resume-title">
    <h1>RESUME</h1>
  </div>

  <!--SELF SUMMMARY-->
  <section class="introduction" [class.extendheight]="data">
    <div class="section-title">
      <h2>SELF SUMMARY</h2>
    </div>
    <div class="section-content">
      <div *ngIf="data" [innerHtml]="data.summary"></div>
    </div>
  </section>

  <!--SKILLS PART-->
  <section class="skills-wrapper">
    <div class="section-title">
      <h2>SKILLS</h2>
    </div>
    <div class="section-content">
      <skills [data]="data?.skills"></skills>
    </div>
    <div class="section-misc">
      <i class="fa fa-cog fa-spin fa-3x fa-fw" aria-hidden="true"></i>
      <i class="fa fa-cog fa-spin fa-reverse" aria-hidden="true"></i>
      <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i>
    </div>
  </section>

  <!--WORKFLOW PART-->
  <section class="workflow-wrapper">
    <div class="section-title">
      <h2>WORKFLOW</h2>
    </div>
    <div class="section-content">
      <workflow [icons]="data?.workflow"></workflow>
    </div>
  </section>

  <!--EDUCATION PART-->
  <section class="education-wrapper">
    <div class="section-title">
      <h2>EDUCATION</h2>
    </div>
    <div class="section-content">
      <education *ngIf="data" [data]="data?.education"></education>
    </div>
  </section>

  <!--EXPERIENCE PART-->
  <section class="experience-wrapper">
    <div class="section-title">
      <h2>EXPERIENCE</h2>
    </div>
    <div class="section-content">
      <experience [data]="data?.experiences"></experience>
    </div>
  </section>

  <!--PROJECT PART-->
  <section class="projects-wrapper">
    <div class="section-title">
      <h2>PROJECTS</h2>
    </div>
    <div class="section-content">
      <projects></projects>
    </div>
  </section>

  <!--BADGES PART-->
  <section class="badges-wrapper">
    <div class="section-title">
      <h2>BADGES</h2>
    </div>
    <div class="section-content">
      <a href="http://stackoverflow.com/users/1015648/murhaf-sousli">
        <img src="http://stackoverflow.com/users/flair/1015648.png?theme=clean" width="208" height="58" alt="profile for Murhaf Sousli at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Murhaf Sousli at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
      </a>
    </div>
  </section>

</div>

