$dark-blue: #0e2231;
$light-blue: powderblue;
$dark-yellow: #FF9600;
$light-yellow: #FFD200;

.resume-title{
  h1{
    color: $dark-blue;
    text-align: right;
    font-size: 5em;
    font-weight: bold;
    margin: 20px;
  }
}
.section-title{
  font-weight: bolder;
}
.introduction{
  background-color: $dark-blue;
  padding: 20px 20px 60px;
  color: whitesmoke;
  transform: skew(0deg,5deg);
  .section-title{
    color:$light-blue;
  }
  .section-content{
    transform: skew(0deg, -5deg);
  }
}

.skills-wrapper{
  padding: 20px 20px 60px;
  transform: skew(0deg, 5deg);
  .section-title{
    color: $dark-blue;
  }
  .section-content{
    transform: skew(0deg, -5deg);
  }
  skills{
    flex: 1 1 auto;
  }
}

.education-wrapper{
  transform: skew(0deg,-7deg);
  padding: 50px 0 60px 0;
  education{
    flex: 1 1 auto;
    transform: skew(0deg, 7deg);
  }
  background-color: $light-blue;
}

.languages-wrapper{
  padding: 150px 20px 200px;
  margin-top: -80px;
  background-color: #8E2043;
  color: pink;

  background: linear-gradient(45deg, transparent 33.333%, pink 33.333%, #E2E2E2 66.667%, transparent 66.667% ), linear-gradient( -45deg, transparent 33.333%, #E2E2E2 33.333%, #E2E2E2 66.667%, transparent 66.667% );

  .section-title{
    text-align: center;
    border: 2px dotted;
    border-radius: 8px;
  }
  languages{
    width: 100%;
  }
}
