$hamburger-padding-x: 1em;
$hamburger-padding-y: 0;
$hamburger-layer-spacing: 6px;
$hamburger-hover-opacity: 1;
$hamburger-layer-color: white;

@import "~hamburgers/_sass/hamburgers/hamburgers";

.hamburger {
  height: 100%;
  display: flex;
  align-items: center;
}

