@import "./hamburger";

navigator, .logo, .logo a, .nav-body, social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media($mobile) {
    flex-direction: row;
  }
}

navigator {
  font-family: $sec-font;
  //position: fixed;
  //top: 0;
  z-index: 1000000;
  width: $header-height;
  height: 100vh;
  background-color: $black;
  box-shadow: $header-shadow;
  overflow: hidden;

  @include media($mobile) {
    z-index: 1000;
    //position: fixed;
    width: 100%;
    height: $header-height;
  }

  span {
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
  }

  .logo {
    background-color: $black;
    width: 100%;

    a {
      width: 100%;
      padding: 0.8em 0 0.5em;
    }

    .logo-text {
      margin-top: 0.3em;
      color: $white;
    }

    @include media($mobile) {
      width: auto;
      height: 100%;
      .logo-text {
        display: none;
      }
      a {
        padding: 0;
        height: 100%;
      }
    }
  }

  logo {
    padding: 0 0.3em;
    @include media($mobile) {
      width: 60px;
    }
  }

  social-links {
    @include media($mobile) {
      display: none;
    }
  }

  .nav-menu {
    @include media($mobile) {
      visibility: hidden;
    }
  }

  .nav-mobile {
    display: none;
    background-color: $white;
    @include media($mobile) {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0.5em 1em;
      top: $header-height;
      right: 0;
      left: 0;
      background-color: $header-bg;
    }
  }

  button {
    background-color: transparent;
    font-size: 1.4em;
    border: none;
    border-radius: 0;
  }

  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}
