$education-column-width: 2px;
$education-icon-dimension: 96px;

.education-icon {
  width: $education-icon-dimension;
  height: $education-icon-dimension;
  margin: auto;
}

.education {
  display: flex;
  position: relative;
  justify-content: space-between;
  &:nth-child(1) {
    direction: rtl;
  }
  &-item {
    flex: 1 1 auto;
    text-align: center;
    color: #0e2231;
  }
  &-date {
    color: #FF9600;
    //font-size: 11px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - #{$education-column-width/2});
    height: 100%;
    width: $education-column-width;
    background: #5C546A;
  }
}

