<div class="education-wrapper">

  <!--<div class="education-icon">-->
    <!--<i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>-->
  <!--</div>-->
  <span class="line"></span>

  <ul>
    <li *ngFor="let education of data">
      <div class="date">
        <p>{{education.date}}</p>
        <p><b>{{education.degree}}</b></p>
      </div>
      <span></span>
      <div class="university">
        <h3>{{education.title}}</h3>
        <p>{{education.university}}</p>
      </div>
    </li>
  </ul>

</div>
