<div class="share">
  <h4 class="share-title">{{shareText}}</h4>
  <div class="share-buttons">
    <button class="facebook" (click)="shareFacebook()"><i class="fa fa-facebook"></i></button>
    <button class="twitter" (click)="shareTwitter()"><i class="fa fa-twitter"></i></button>
    <button class="googleplus" (click)="shareGooglePlus()"><i class="fa fa-google-plus"></i></button>
    <button class="pinterest" (click)="sharePinterest()"><i class="fa fa-pinterest-p"></i></button>
    <button class="linkedin" (click)="shareLinkedin()"><i class="fa fa-linkedin"></i></button>
    <button class="stumbleupon" (click)="shareStumbleUpon()"><i class="fa fa-stumbleupon"></i></button>
    <button class="tumblr" (click)="shareTumblr()"><i class="fa fa-tumblr"></i></button>
    <button class="reddit" (click)="shareReddit()"><i class="fa fa-reddit-alien"></i></button>
  </div>

</div>
