.copyright {
  margin-right: -120px;
  position: fixed;
  transform: rotate(90deg);
  top: 50%;
  right: 0;
  z-index: 9999;
  text-transform: uppercase;
  color: rgba(darkgray, .3);
  font-size: .7em;
}

.top-button {
  z-index: 5300;
  @extend .animated, .rotateIn;
  //opacity: 0.3;
  position: fixed;
  right: 2em;
  bottom: 1.5em;
  transition: opacity ease .35s;
  &:hover {
    opacity: 1;
  }
  a {
    color: $sec-color;
    text-align: center;
    p {
      font-weight: bold;
      margin: 0;
    }
  }
}

