.no-content{

  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: white;
  .error-code{

    @extend .animated, .pulse;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: $action-color;
    overflow: hidden;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: white;
    h1{
    }
  }
  p{
    padding-top: 20px;
    font-size: 1.2em;
    a {
      color: $sec-color;
    }
  }
}
