.page{
  background-color: $base-background-color;
  min-height: 100vh;
  &-header{
    position: relative;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $base-font-color;

    height: auto;
    h1{
      text-shadow: none;
      @extend .animated, .fadeIn;
    }
  }
  &-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-color-dark;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    overflow: hidden;
    min-height: 150px;
    z-index: 10;
  }
  &-content{
    margin-top: 40px;
    line-height: 1.3em;
    padding: 20px;
    font-size: 1.3em;
  }
}

.small-font{
    font-size: 1em;
    //line-height: 1.3em;
}
