.post {
  background-color: $base-background-color;
  &-outer{
    box-shadow: 0 0 2px rgba(0,0,0,.4);
  }
  &-header {
    position: relative;
    color: $base-font-color;
    display: flex;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.7);
    //flex-direction: column;
    //align-items: center;
    //justify-content: flex-end;
  }
  &-image {
    //position: absolute;
    //top: 0;
    //bottom: 0;
    width: 100%;
    margin-top: -$header-height;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
  }
  &-heading{
    font-style: italic;
    text-align: center;
  }
  &-title {
    width: 100%;
    padding: 50px 15px 0;
    font-size: 1.7em;
    h1{
      font-family: $title-font-family;
    }
  }

  &-meta {
    font-family: $base-font-family;
    color: $sub-font-color;
    font-size: 1.2em;
  }

  &-categories {

  }

  &-date {
  }

  /*
   * Post Body
   */

  &-body {
    position: relative;
  }

  &-content {
    @extend .animated, .fadeIn;
    padding: 40px 20px 20px;
    font-size: 1.3em;
    line-height: 1.7em;
    position: relative;
    overflow: hidden;
    img {
      cursor: pointer;
      max-width: 100%;
      height: auto;
    }
  }

  &-share {
    padding: 15px;
  }

  /*
   * Post Body
   */
  &-footer {
    padding-bottom: 50px;
  }
  &-author {
  }
  &-related {
    background-color: $action-color;
    padding-top: 10px;
  }
  &-comments {
    margin-top: -15px;
    .comments {
      padding: 30px 15px 15px;
    }
  }
}




